
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>医生工作台 登录页</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/login.css" rel="stylesheet">
</head>

<body>
<header class="hospitalTitle">
    <a href="login.html"><h1>欢迎登录<span>西南</span>互联网医院</h1></a>
</header>
<div class="main-body loginBgblock">

        <form class="form-login">
            <h2 class="form-login-heading">登录</h2>
            <label for="inputTel" class="sr-only">手机号码/工号</label>
            <input type="text" id="inputTel" class="form-control" placeholder="手机号码/工号" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> 记住我
                </label>
                <a href="javascript:;" class="forgetPwd">忘记密码?</a>
            </div>
            <p class="infoTips">您输入的账号信息不存在，请重新输入。</p>
            <button class="btn btn-lg btn-spring-green btn-block" type="submit">登   录</button>
        </form>
</div>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

</body>
</html>
